@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

html, body {
  font-family: 'Poppins', sans-serif;
  background-color: #c1c1c1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

h1 {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
}

h1::after {
  content: "";
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  width: 90%;
  height: 3px;
  border-radius: 3px;
}



footer {
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

footer p {
  font-weight: 300;
}